<img src="<%= qr %>">
<div><p>Votre QR Code:</p></div>
<form action="/qr/real" method="get">
    <input name="url" style="display: none;" value="<%= url %>">
    <input type="submit" value="Voir le Vrai QR Code">
</form>