doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='views/style.css')
  link(rel='stylesheet' href='views/result.css')

  title Not A QR generator
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,700&display=swap' rel='stylesheet')
.main-view
  h1#header-gradient.text-gradient There is your qr code
  img#real-qr(alt='QR Code' style='display: none;' src=real)
  img#fake-qr(alt='QR Code' src=fake)
  .actions
    script.
      function changeforreal() {
      document.getElementById('fake-qr').style.display = 'none';
      document.getElementById('real-qr').style.display = 'block';
      document.getElementById('header-gradient').innerHTML = 'There is your #real qr code';
      document.getElementsByClassName('actions')[0].style.display = 'none';
      }
      
    form()
      input.classic-button(onclick='changeforreal()' type='button' value="Doesn't like it? Try again!")
